{{- $domain := (site.Data.plugin_plausible_plus_params.RegisteredDomain | default site.Params.plausible_registered_domain) | default (urls.Parse site.BaseURL).Host }}
{{- $source := (site.Data.plugin_plausible_plus_params.ScriptSource | default site.Params.plausible_script_source) | default "https://plausible.io/js/" }}
{{- $name := (site.Data.plugin_plausible_plus_params.ScriptName | default site.Params.plausible_script_name) | default "plausible.js" }}
{{- $ext := path.Ext $name | default ".js" }}
{{- $name = strings.TrimSuffix $ext $name }}
{{- $ext = strings.TrimPrefix "." $ext }}
{{- $extensions := (site.Data.plugin_plausible_plus_params.ScriptExtensions | default site.Params.plausible_script_extensions) | default "" }}
{{- $name = delimit (cond (eq "" $extensions) (slice $name $ext) (slice $name $extensions $ext)) "." }}
{{- $data_api := site.Data.plugin_plausible_plus_params.DataAPI | default site.Params.plausible_data_api }}
{{- $src := printf "%s%s" $source $name }}
<script 
  async 
  defer 
  data-domain="{{ $domain }}" 
  {{ with $data_api }}data-api="{{ $data_api }}" {{- end }}
  src="{{ $src }}"
></script>