{{- $script_source := .Site.Params.script_source | default "https://plausible.io/js/" -}}
{{- $script_name := .Site.Params.script_name | default "plausible.js" -}}
{{- $script_ext := path.Ext $script_name -}}
{{- $script_name = strings.TrimSuffix $script_ext $script_name -}}
{{- $script_extensions := .Site.Params.script_extensions | default "" -}
{{- $script_name = delimit (slice $script_name $script_extensions $script_ext) "." -}}
{{- $src := path.Join $script_source $script_name -}}
<script async defer data-domain="{{ .Site.Params.registered_domain }}" src="{{ $src }}"></script>